@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

.navbar {
    width: 33%;
    height: 100vh;
    /* background-color: aqua; */
    padding: 10px;
    position: fixed;
    border-right: 1px solid grey;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.logo svg {
    font-size: 25px;
}

/* .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: start;
} */
.nav-item {
    margin-bottom: 5px;
    padding: 12px;
    text-align: start;
    transition: .3s ease;
    cursor: pointer;
    align-items: center;
}

.nav-item:hover {
    background-color: grey;
    border-radius: 20px;
}

.nav-item svg {
    font-size: 20px;
    margin-right: 10px;
}

.nav-item span {
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

.button-nav {
    margin-top: 40px;
}

.button-nav .bnt {
    padding: 7px 32px;
    font-size: 17px;
    background-color: blue;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}

.user-info {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 250px;
    margin-top: 250px;
    padding: 5px;
    border-radius: 20px;
    transition: .3s ease;
    cursor: pointer;
}

.user-info:hover {
    background-color: grey;
}

.user-info-conntainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userImg img {
    width: 50px;
    height: 50px;
    /* background-color: black; */
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.user_svg {
    position: absolute;
    z-index: 999;
}

.userName {
    font-size: 20px;
    padding: 0px 10px;
    font-family: 'Merriweather', serif;
}

.userInfo-settings svg {
    font-size: 25px;
}