.postlist {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    flex-direction: column;
    /* border-right: 1px solid gray;
    border-left: 1px solid gray; */
    padding: 10px 10px;
}